<button mat-icon-button color="primary" (click)="search()">
  <mat-icon>favorite</mat-icon>
</button>


<mat-card *ngFor="let issue of (issuesFrontendBr$ | async)">
  <a href="{{issue.html_url}}">{{issue.title}}</a>
</mat-card>

<mat-card *ngFor="let issue of (backendBr$ | async)">
  <a href="{{issue.html_url}}">{{issue.title}}</a>
</mat-card>

<mat-card *ngFor="let issue of (backendBrService$ | async)">
  <a href="{{issue.html_url}}">{{issue.title}}</a>
</mat-card>

<mat-card *ngFor="let issue of (reactBrasilService$ | async)">
  <a href="{{issue.html_url}}">{{issue.title}}</a>
</mat-card>

<mat-card *ngFor="let issue of (soujava$ | async)">
  <a href="{{issue.html_url}}">{{issue.title}}</a>
</mat-card>

<mat-card *ngFor="let issue of (androidDevBr$ | async)">
  <a href="{{issue.html_url}}">{{issue.title}}</a>
</mat-card>

