<form (submit)="search()"
      style="min-width: 150px; max-width: 500px;  width: 100%; margin: 0 auto;"
      matTooltip="Only press enter to boooooommmm!">
  <mat-form-field style="width: 100%;">
    <input width="200" placeholder="Job from your dream"
           matInput #jobDescription>
  </mat-form-field>

</form>

<ins class="adsbygoogle"
     style="display:block"
     data-ad-format="fluid"
     data-ad-layout-key="-ed+6k-30-ac+ty"
     data-ad-client="ca-pub-7422161956329358"
     data-ad-slot="3458304688"></ins>
<script>
  (adsbygoogle = window.adsbygoogle || []).push({});
</script>

<!--<ins class="adsbygoogle"-->
<!--style="display:block"-->
<!--data-ad-format="fluid"-->
<!--data-ad-layout-key="-f9+5v+4m-d8+7b"-->
<!--data-ad-client="ca-pub-7422161956329358"-->
<!--data-ad-slot="6428082959"></ins>-->
<!--<script>-->
<!--(adsbygoogle = window.adsbygoogle || []).push({});-->
<!--</script>-->


<div class="flex-container" style=" margin: 0 auto;">
  <ng-container *ngFor="let issue of (issuesFrontendBr$ | async); trackBy: trackByFn">
    <mat-card *ngIf="issue | issueGithubFilter:jobDescription.value">
      <a href="{{issue.html_url}}">
        <mat-card-header>
          <img mat-card-avatar src="{{issue.user.avatar_url}}">
          <mat-card-title>{{issue.user.login}}</mat-card-title>
          <mat-card-subtitle>{{issue.title}}</mat-card-subtitle>
        </mat-card-header>
        <!--<img mat-card-image src="https://source.unsplash.com/random/800x600">-->
        <!--<mat-card-content>-->
        <!--<p> {{issue.body}}</p>-->
        <!--</mat-card-content>-->
      </a>
    </mat-card>
  </ng-container>


  <ng-container *ngFor="let issue of (backendBrService$ | async); trackBy: trackByFn">
    <mat-card *ngIf="issue | issueGithubFilter:jobDescription.value">
      <a href="{{issue.html_url}}">
        <mat-card-header>
          <img mat-card-avatar src="{{issue.user.avatar_url}}">
          <mat-card-title>{{issue.user.login}}</mat-card-title>
          <mat-card-subtitle>{{issue.title}}</mat-card-subtitle>
        </mat-card-header>
        <!--<img mat-card-image src="https://source.unsplash.com/random/800x600">-->
        <!--<mat-card-content>-->
        <!--<p> {{issue.body}}</p>-->
        <!--</mat-card-content>-->
      </a>
    </mat-card>
  </ng-container>


  <ng-container *ngFor="let issue of (reactBrasilService$ | async); trackBy: trackByFn">
    <mat-card *ngIf="issue | issueGithubFilter:jobDescription.value">
      <a href="{{issue.html_url}}">
        <mat-card-header>
          <img mat-card-avatar src="{{issue.user.avatar_url}}">
          <mat-card-title>{{issue.user.login}}</mat-card-title>
          <mat-card-subtitle>{{issue.title}}</mat-card-subtitle>
        </mat-card-header>
        <!--<img mat-card-image src="https://source.unsplash.com/random/800x600">-->
        <!--<mat-card-content>-->
        <!--<p> {{issue.body}}</p>-->
        <!--</mat-card-content>-->
      </a>
    </mat-card>
  </ng-container>

  <ng-container *ngFor="let issue of (soujava$ | async); trackBy: trackByFn">
    <mat-card *ngIf="issue | issueGithubFilter:jobDescription.value">
      <a href="{{issue.html_url}}">
        <mat-card-header>
          <img mat-card-avatar src="{{issue.user.avatar_url}}">
          <mat-card-title>{{issue.user.login}}</mat-card-title>
          <mat-card-subtitle>{{issue.title}}</mat-card-subtitle>
        </mat-card-header>
        <!--<img mat-card-image src="https://source.unsplash.com/random/800x600">-->
        <!--<mat-card-content>-->
        <!--<p> {{issue.body}}</p>-->
        <!--</mat-card-content>-->
      </a>
    </mat-card>
  </ng-container>

  <ng-container *ngFor="let issue of (androidDevBr$ | async); trackBy: trackByFn">
    <mat-card *ngIf="issue | issueGithubFilter:jobDescription.value">
      <a href="{{issue.html_url}}">
        <mat-card-header>
          <img mat-card-avatar src="{{issue.user.avatar_url}}">
          <mat-card-title>{{issue.user.login}}</mat-card-title>
          <mat-card-subtitle>{{issue.title}}</mat-card-subtitle>
        </mat-card-header>
        <!--<img mat-card-image src="https://source.unsplash.com/random/800x600">-->
        <!--<mat-card-content>-->
        <!--<p> {{issue.body}}</p>-->
        <!--</mat-card-content>-->
      </a>
    </mat-card>
  </ng-container>


</div>

