#footer {
  background: #e91e63;
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  p {
    font-size: 14px;
    font-weight: 300;
  }
  a {
    color: #fff;
  }
  mat-icon {
    font-size: 16px;
  }
}
