<mat-sidenav-container>

  <mat-sidenav #sidenav mode="side" style="background-color: white;" [fixedInViewport]="true">
    <mat-toolbar style="background-color: white;">
      <mat-toolbar-row>
        <a routerLink="/users">
          <mat-icon>account_circle</mat-icon>
          <span>Usuario</span>
        </a>
      </mat-toolbar-row>

      <mat-toolbar-row>
        <button mat-raised-button color="warn" class="app-sidebar-button">
          <mat-icon class="example-icon">delete</mat-icon>
          Delete
        </button>
      </mat-toolbar-row>

    </mat-toolbar>
  </mat-sidenav>


  <app-header [sidenav]="sidenav"></app-header>
  <section id="main">
    <router-outlet></router-outlet>
  </section>

</mat-sidenav-container>
<app-footer></app-footer>
