/* You can add global styles to this file, and also import other style files */
/*@import "~@angular/material/prebuilt-themes/indigo-pink.css";*/
@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";
/*@import "~@angular/material/prebuilt-themes/pink-bluegrey.css";*/
/*@import "~@angular/material/prebuilt-themes/purple-green.css";*/

html {
  margin: 0;
  padding: 0;
  height: 100%;
  /*box-sizing: border-box;*/
}

/**, *:before, *:after {*/
  /*box-sizing: inherit;*/
/*}*/

body {
  /*background-color: #ebebeb;*/
  position: relative;
  margin: 0;
  min-height: 100%;
  /* padding-bottom: 6rem; */
}

/*a {*/
  /*cursor: pointer;*/
/*}*/

/*h1, h2, h3, h4, h5, h6, p {*/
  /*!* margin: 0; *!*/
  /*padding: 0;*/
  /*font-family: 'Raleway', sans-serif;*/
/*}*/

/*mat-card h1 {*/
  /*font-weight: 600;*/
  /*font-size: 25px;*/
/*}*/

/*mat-card p {*/
  /*font-size: 16px;*/
  /*font-weight: 500;*/
/*}*/

/*.text-center {*/
  /*text-align: center;*/
/*}*/

/*.text-right {*/
  /*text-align: right;*/
/*}*/

/*Scroll bar starts*/
/*body::-webkit-scrollbar-track {*/
  /*-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);*/
  /*box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);*/
  /*border-radius: 10px;*/
  /*background-color: #F5F5F5;*/
/*}*/

/*body::-webkit-scrollbar {*/
  /*width: 12px;*/
  /*background-color: #F5F5F5;*/
/*}*/

/*body::-webkit-scrollbar-thumb {*/
  /*border-radius: 10px;*/
  /*-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);*/
  /*box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);*/
  /*background-color: #e91e63;*/
/*}*/

/*body::scrollbar-track {*/
  /*-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);*/
  /*box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);*/
  /*border-radius: 10px;*/
  /*background-color: #F5F5F5;*/
/*}*/

/*body::scrollbar {*/
  /*width: 12px;*/
  /*background-color: #F5F5F5;*/
/*}*/

/*body::scrollbar-thumb {*/
  /*border-radius: 10px;*/
  /*-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);*/
  /*box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);*/
  /*background-color: #e91e63;*/
/*}*/

/*::-moz-selection {*/
  /*color: #fff;*/
  /*background-color: #e91e63;*/
/*}*/

/*::selection {*/
  /*color: #fff;*/
  /*background-color: #e91e63;*/
/*}*/
